<h1>Add a new song to @Model.Name</h1>

<form action="/records/@Model.Id/songs" method="post">
  <input id="recordId" name="recordId" type="hidden" value="@Model.Id">
  <label for="songDescription">song Description</label>
  <input id="songDescription" name="songDescription" type="text">
  <button type='submit'>Add song</button>
</form>