<h1>Song Details: </h1>

<h2>@Model["song"].Description</h2>
<h3>Record: @Model["record"].Name</h3>

<a href='/records/@Model["record"].Id/songs/new'>Add another song</a>
<a href='/records'>View all songs</a>