<!DOCTYPE html>
  <html>
    <head>
      <title>Hello Friend!</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
      <h1>ToDoList Photos</h1>
      <ul>
        <li><img src='~/img/ToDoList_photo.jpg'/></li>
      </ul>
    </body>
  </html>;