<!DOCTYPE html>
  <html>
    <head>
      <title>Album Covers</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
      <h1>Album Cover Photos</h1>
      <ul>
        <li><img src='~/img/photoName.jpg'/></li>
      </ul>
    </body>
  </html>;