<h1>Add a record</h1>
<p>Add a record here:</p>

<form action="/categories" method="post">
  <label for="recordName">Record name</label>
  <input id="recordName" name="recordName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/record">Back to Records.</a></p>