@using CdOrganizer.Models;

<h3>Here are all the songs in @Model["record"].Name</h3>

<ol>
@foreach (Song song in @Model["songs"])
{
  <li><a href='/records/@Model["record"].Id/songs/@song.Id'>@song.Description</a></li>
}
</ol>

<p><a href='/records/@Model["record"].Id/songs/new'>Add a new song</a></p>
<p><a href='/records'>Return to records list</a></p>
<p><a href='/'>Return to Main Page</a></p>